body{
    margin: 0;
}

header{
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.1);
}

header img{
    height: 96px;
    margin-left: 80px;
    margin-bottom: 12px;
}

.headerButtonContainer{
    margin: 16px 80px;
}

.headerMenuButtonMobile{
    visibility: collapse;
    position: absolute;
    right: 0;
    height: 40px;
    margin-right: 24px;
}

.headerMenuButtonMobile:hover{
    border-style: solid;
    border-color: #008001;
    border-width: 2px;
    border-radius: 4px;
}

.headerMobileSideMenu{
    visibility: collapse;
    overflow: hidden;
    position: absolute;
    right: 0;
    display: flex;
    align-content: center;
    flex-direction: column;
}

.headerButtonContainer a{
    text-decoration: none;
    color: black;
    padding: 8px;
    margin: 16px 8px;
}

.headerButtonContainer a:hover{
    border-bottom-style: solid;
    border-color: #008001;
    border-width: 4px;
    color: #008001;
    cursor: pointer;
}

/* Tablet version */
@media(max-width: 1024px){
    header{
        height: 96px;
    }

    header img{
        height: 40px;
        margin-left: 32px;
        margin-bottom: 20px;
    }
}

/* Mobile Version */
@media(max-width: 480px){

    body{
        font-size: 16px;
    }
    header{
        height: 80px;
    }
    header img{
        height: 32px;
        margin-left: 20px;
        margin-bottom: 24px;
    }

    .headerMenuButtonMobile{
        visibility: visible;
    }

    .headerButtonContainer{
        visibility: collapse;
    }

    a{
        text-decoration: none;
        color: black;
        padding: 8px;
        margin: 16px 0px;
    }

    a:hover{
        color: black;
        background-color: #008001;
        border-style: none;
        border-width: 1px;
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;
    }

    #sideMenuButtonStart{
        transform: translateY(-150%);
        transition: transform 300ms ease-in-out;
    }

    #sideMenuButtonRezept{
        transform: translateY(-350%);
        transition: transform 500ms ease-in-out;
    }

    #sideMenuButtonKontakt{
        transform: translateY(-550%);
        transition: transform 700ms ease-in-out;
    }

    #sideMenuButtonImpressum{
        transform: translateY(-750%);
        transition: transform 900ms ease-in-out;
    }
}